body	{
		font-family:arial;
		background-color: #EDEDED;
		}
		
header	{
		padding: 7vh;
		background-color: #232F3B;
		color: #EDEDED;
		border-radius: 45px;
		cursor: default;
		}

footer	{
		text-align: center;
		padding: 5vh;
		background-color: #232F3B;
		color: #EDEDED;
		border-radius: 45px;
		margin-top: 5px;
		cursor: default;
		}

	
.divs	{
		display: inline-block;
		color: #EDEDED;
		border-radius: 32px;
		padding-bottom: 8px;
		padding-top: 15px;
		padding-right: 5px;
		padding-left: 5px;
		margin-top: 5px;
		background-color: #425057;
		height: 25vh;
		font-size: 20px;
		width: 30%;
		}

a  		{
		text-decoration: none;
		}
		
#div1	{
		margin-left: 4%;
		
		}

#div2	{
		
		margin-left: ;
		
		}

#div3	{
		
		margin-left: ;
		margin-right: 4%;
		}

#div4	{
		margin-left: 4%;
		
		}

#div5	{
		
		margin-left: ;
		}
	
#div6	{
		
		margin-left: ;
		margin-right: 4%;
		}

#div1:hover	{
		background-color: #E1CDBF;
		color: #232F3B;
		cursor: pointer;
		}

#div2:hover	{
		background-color: #A5B1B4;
		color: #232F3B;
		cursor: pointer;
		}

#div3:hover	{
		background-color: #E1CDBF;
		color: #232F3B;
		cursor: pointer;
		}

#div4:hover	{
		background-color: #A5B1B4;
		color: #232F3B;
		cursor: pointer;
		}

#div5:hover	{
		background-color: #E1CDBF;
		color: #232F3B;
		cursor: pointer;
		}
	
#div6:hover	{
		background-color: #A5B1B4;
		color: #232F3B;
		cursor: pointer;
		}
		
.title	{
		text-align: center;
		margin-top: 3vh;
		}

.autor	{
		text-align: right;
		margin-right: 3px;
		margin-top: 10vh;
		}
		
#a 		{
		color: #EDEDED;
		text-decoration: none;
		}
		
#sticky {
		position: absolute;	
		top: 3%;
		left: 1.5%;
		background-color: #AB2E2E;
		display: inline-block;
		border-radius: 30px;
		color: #EDEDED;
		padding: 6px;
		margin-top: 1px;
		margin-bottom: 1px;
		}