*		{
		box-sizing: border-box;
		text-align: center;
		font-family: arial;
		}

html	{scroll-behavior: smooth;}
	
table	{
		width: 100%;
		border-radius: 40px;
		border-style: hidden;
		border-collapse: collapse;
		overflow: hidden;
		}

td,tr,th{
		padding: 1.5vh;
		text-align: left;
		padding-left: 2vh;
		color: #545755;
		border: 2px solid white;
		font-size: 1.08em;
		}

#tabelka{
		display: inline-block;
		width: 86%;
		border-radius: 40px;
		}
		
th		{
		background-color: grey;
		color: white;
		text-align: center;
		padding: 1,5vh;
		}
		
tr:nth-child(even)	{
		background-color: lightpink;
		}
		
tr:nth-child(odd)	{
		background-color: lightblue;
		}
		
#topleft{
		width: 15%;
		}	
		
#topright{
		width: 50%;
		}	

#seccol	{
		width: 25%;
		}

#thicol	{
		width: 10%;
		}		

header	{
		color: lightblue;
		text-align: center;
		}

footer	{
		text-align: center;
		color: grey;
		}	
	
#a 		{
		color: #EDEDED;
		text-decoration: none;
		}
		
#sticky {
		position: absolute;	
		top: 3%;
		left: 1.5%;
		background-color: lightpink;
		display: inline-block;
		border-radius: 30px;
		color: #EDEDED;
		padding: 6px;
		margin-top: 1px;
		margin-bottom: 1px;
		}	

ul, li, p 	{
		text-align: left;
		}

td:first-child, th:first-child {
		font-style: italic;
		font-weight: bold;
		font-size: 1.1em;
		}
		
.vege	{
		color: #39de1f;
		}
		
.warzywo{
		color: red;
		}	

a 		{
		text-decoration: none;
		color: #545755;
		}
	