*	{box-sizing: border-box; font-family: arial;}

header	{
		text-align: center;
		color: white;
		font-size: 3vmin;
		font-style: bold;
		}
		
body	{
		background: rgb(22,0,36);
		background: linear-gradient(90deg, rgba(22,0,36,1) 0%, rgba(121,9,103,1) 36%, rgba(255,0,159,1) 100%);
		}
				
		

article {
		width: 90vw;
		height: auto;
		margin-left: 5vw;
		padding: 1vw;
		color: white;
		font-size: 2vmin;
		}
		

	
img		{
		width: 40vw; 
		height: auto; 
		margin-left: 30vw; 
		}
		
#a 		{
		color: #EDEDED;
		text-decoration: none;
		}
		
#sticky {
		position: absolute;	
		top: 3%;
		left: 1.5%;
		background-color: #AB2E2E;
		display: inline-block;
		border-radius: 30px;
		color: #EDEDED;
		padding: 6px;
		margin-top: 1px;
		margin-bottom: 1px;
		}